[submodule "test_framework_lib"]
	path = test_framework_lib
	url = https://github.com/xxm-666/test_framework.git
[submodule "test_framework_lib/test_framework"]
	path = test_framework_lib/test_framework
	url = https://github.com/xxm-666/test_framework.git
[submodule "test_framework"]
	path = test_framework
	url = https://github.com/xxm-666/test_framework.git
